.contentBox {
  width: 400px;
  margin-right: 40px;
  margin-bottom: 50px;
}
  .contentBox:nth-child(3n) {
    margin-right: 0px; }
  .contentBox .contentPhoto {
    height: 230px;
    width:395px;
    overflow: hidden;
    margin-bottom: 15px; }
  .contentBox .contentPhotoBorder{
    height: 230px;
    width:395px;
    margin-bottom: 10px;
    border:2px solid #fd720000;
    transition: 0.3s;
  }
  .contentBox:hover .contentPhotoBorder {
    border:2px solid #FF8232;
    transition: 0.3s;
  }
  .contentBox:hover .animal {
    transform: scale(1.2);
    transition: 0.2s;
  }
  .contentBox .contentMainText {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px; }
  .contentBox .contentSubText {
    font-size: 16px;
    color:#878787;
    line-height: 19px; }
.animal{
  width: 100%;
  height:100%;
  transition: 0.2s;
}